/* CALCULATOR */

    #calculator {
        margin: 1rem auto 5rem auto;
        width: 60%;
        max-width: 400px;
        background-color: var(--secunder-color);
        border-radius: 5px;
        padding: 1.5rem;
        box-shadow: 1px .5px 1px 0 var(--secunder-color), 
                    10px 10px 20px 10px rgb(0, 0, 0),
                    inset 2px 2px 5px rgba(var(--light-rgb), 0.4),
                    inset -3px -3px 5px rgba(0, 0, 0, 0.5);
    }

    #calculator input {
        width: 100%;
        font-size: 1.2rem;
        background-color: var(--light);
        color: var(--dark);
        text-align: right;
        padding: .5rem;
        border: none;
    }

    #calculator input:focus {
        outline: none;
    }

    #calculator input:first-of-type {
        border-radius: 5px 5px 0 0;
        font-size: 2rem;
        padding-top: 1rem;
        box-shadow: inset 4px 4px 3px rgba(0, 0, 0, 0.5);
    }

    #calculator input:last-of-type {
        border-radius: 0 0 5px 5px;
        margin-bottom: 1.2rem;
        padding-bottom: 1rem;
        box-shadow: inset 4px -3px 3px rgba(0, 0, 0, 0.5);
    }

    #buttons {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }

    #buttons button {
        padding: .8rem;
        font-size: 1.2rem;
        background-color: var(--dark);
        color: var(--light);
        border: none;
        border-radius: 5px;
        box-shadow: 1px .5px 1px var(--secunder-color), 
                    2px 2px 3px var(--primer-color),
                    inset 2px 2px 3px rgba(var(--light-rgb), 0.4),
                    inset -3px -3px 5px rgba(0, 0, 0, 0.5);
    }

    #buttons .highlight {
        color: var(--primer-color);
        background-color: rgba(var(--dark-rgb), 0.6);
        font-weight: bolder;
    }

    #buttons button:hover {
        background-color: var(--primer-color);
        color: var(--light);
        cursor: pointer;
        box-shadow: 2px 2px 3px var(--dark),
                    inset -2px -2px 3px rgba(var(--light-rgb), 0.4),
                    inset 3px 3px 5px rgba(0, 0, 0, 0.5);
    }

    #buttons #equal {
        background-color: var(--primer-color);
        color: var(--light);
        box-shadow: 2px 2px 4px var(--dark),
                    inset 2px 2px 3px rgba(var(--light-rgb), 0.4),
                    inset -3px -3px 5px rgba(0, 0, 0, 0.5);
    }

    #buttons #equal:hover {
        background-color: var(--dark);
        color: var(--primer-color);
        box-shadow: 2px 2px 4px var(--primer-color),
                    inset -2px -2px 3px rgba(0, 0, 0, 0.5),
                    inset 3px 3px 5px rgba(0, 0, 0, 0.5);

    }

