 #hero {
        width: 95%;
        text-align: center;
        padding: 3rem;
        margin: 5rem auto;
        border-radius: 20px;
        background-color: var(--secunder-color);
        box-shadow: 0 0 30px 0 var(--primer-color);
    }

    #project-container {
        width: 75%;
        margin: 4rem auto;
    }

    .project-box {
        width: 80%;
        padding: 3rem;
        margin-bottom: 6rem;
        border-radius: 20px;
        background-color: var(--secunder-color);
        box-shadow: -3px 2px 3px 0 var(--secunder-color), -10px 8px 30px 0 var(--primer-color);
    }

    .project-box:nth-of-type(even) {
        margin-left: 20%;
        text-align: right;
        box-shadow: 3px 2px 3px 0 var(--secunder-color), 10px 8px 30px 0 var(--primer-color);
    }

    .project-box:hover {
        box-shadow: 0 0 50px 0 var(--primer-color);
    }

    .project-box h1,
    .project-box h2 {
        margin-top: 0;
    }