/*  === GLOBAL === */

    :root {
        /*  === COLORS === */
        --primer-color: #f815d2;
        --secunder-color: #383838;
        
        --dark: #222222;
        --light: #fbfbfb;

        /*  === FONTS === */
        --primer-font: Arial;
        --secunder-font: Helvetica;
        --fallback-font: sans-serif;
    }

    html {
        font-size: 16px;
    }

    body {
        margin: 0;
        font-family: var(--primer-font, --secunder-font, --fallback-font);
        background-color: var(--dark);
        color: var(--light);
    }

    * {
        box-sizing: border-box;
    }

/*  === GENERAL === */

    .clearfix::after {
        content: "";
        clear: both;
        display: block;
    }

    .container {
    max-width: 95%;
    margin-right: auto;
    margin-left: auto;
    }

/* NAVBAR */

    #desktop-nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    }

    #desktop-nav ul > li {
        margin: 1.5rem;
    }

    #desktop-nav ul > li > a {
        text-decoration: none;
        color: var(--light);
    }

        #desktop-nav ul > li > a:link,
        #desktop-nav ul > li > a:visited,
        #desktop-nav ul > li > a:active {
            color: var(--light);
        }

        #desktop-nav ul > li > a:hover {
            color: var(--primer-color);
            text-decoration: underline;
        }


/* MAIN */

    #hero {
        width: 95%;
        text-align: center;
        padding: 3rem;
        margin: 5rem auto;
        border-radius: 20px;
        background-color: var(--secunder-color);
        box-shadow: 0 0 30px 0 var(--primer-color);
    }

    #project-container {
        width: 75%;
        margin: 4rem auto;
    }

    .project-box {
        width: 80%;
        padding: 3rem;
        margin-bottom: 6rem;
        border-radius: 20px;
        background-color: var(--secunder-color);
        box-shadow: -3px 2px 3px 0 var(--secunder-color), -10px 8px 30px 0 var(--primer-color);
    }

    .project-box:nth-of-type(even) {
        margin-left: 20%;
        text-align: right;
        box-shadow: 3px 2px 3px 0 var(--secunder-color), 10px 8px 30px 0 var(--primer-color);
    }

    .project-box:hover {
        box-shadow: 0 0 50px 0 var(--primer-color);
    }

    .project-box h1,
    .project-box h2 {
        margin-top: 0;
    }

