/* TODO INPUT */

    #todo-input-container {
        width: 70%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 2rem auto;
    }

    #todo-input-box {
        width: 70%;
    }

    #todo-input-container input[type="text"] {
        width: 100%;
        padding: .5rem;
        border: 2px solid var(--secunder-color);
        box-shadow: 0 0 10px var(--secunder-color);
        border-radius: 5px;
        font-size: 1.2rem;
        margin-right: 1rem;
    }

    #todo-input-container input[type="text"]:focus {
        outline: none;
        border-color: var(--primer-color);
    }

    #todo-submit-btn {
        padding: .5rem 2rem;
        font-size: 1.2rem;
    }

/* TODO LIST */

    #todo-list-container {
        width: 70%;
        margin: 5rem auto; 
    }

    #todo-list-container ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    #todo-list-container li {
        padding: .8rem;
        margin: 1rem 0;
        background-color: var(--secunder-color);
        border-radius: 5px;
        box-shadow: 0 0 10px var(--secunder-color);
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .todo-completed {
        text-decoration: line-through;
        color: var(--primer-color);
    }